/* Colors*/
:root {
  --lightgray: #8b8b8b;
  --gray: #474747;
  --darkgray: #2b2b2b;
  --dark: #0f0f0f;
  --white: #ffffff;
}
/* Global stylesheet */
* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/inter.woff2') format('woff2');
}
html {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-anchor: none;
  z-index: 1;
  background-color: var(--white);
  font-family: "Inter";
  font-size: 100%;
  line-height: 1.6;
  color: var(--darkgray);
}
body {
  position: relative;
  margin: 1.875em auto;
  min-height: 100vh;
  max-width: -webkit-calc(43.75rem - (1.5em * 2));
  max-width: calc(43.75rem - (1.5em * 2));
  font-size: 1.09375rem;
  letter-spacing: -.025em;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeSpeed;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
@media screen and (max-width:768px) {
  body {
      max-width: -webkit-calc(43.75rem - (1.5em));
      max-width: calc(43.75rem - (1.5em));
      padding-right: 1.8em;
      padding-left: 1.8em;
      font-size: .9375rem;
 }
}
h1, h2, h3, h4 {
  line-height: 1.2;
  color: var(--dark);
}
b, strong {
  color: var(--dark) ;
}
p:last-child {
  margin-bottom: 0;
}
img {
  max-width: 100%;
}
a {
  color: var(--dark);
  text-decoration: none;
  border-bottom: 1px solid var(--dark);
}
a:visited {
  color: var(--gray);
}
a:hover {
  color: var(--lightgray);
  border-bottom: 1px solid var(--lightgray);
}
::selection {
  background-color: var(--lightgray);
  color: var(--white);
}
blockquote {
  position: relative;
  font-weight: 500;
  color: var(--dark);
  border-left: 0.25em solid var(--dark);
  margin-top: 1.6em;
  margin-left: 0;
  margin-bottom: 1.6em;
  padding-left: 2.5em;
}
blockquote::before{
  font-family: Arial;
  content: "\201C";
  color: var(--lightgray);
  font-size: 4.5em;
  position: absolute;
  left: .15em;
  top: -.35em;
}
blockquote > cite, blockquote > p > cite {
  display: block;
  font-size: .9em;
  line-height: 1.3em;
  font-weight: 700;
  font-style: italic;
  margin-top: 1em;
  letter-spacing: 0;
  color: var(--dark);
}
header {
  margin-bottom: 5em;
}
header:after {
  content: "";
  display: table;
  clear: both;
}
table {
  margin: 1em 0;
}
table td, table th {
  padding-right: 1em;
}
pre, code {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  letter-spacing: -.01em;
}
pre {
  direction: ltr;
  text-align: left;
  overflow: auto;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1.5em;
  margin: 0.5em 0;
  border-radius: 5px;
  background-color: #373d3f;
  color: #d8e3e7;
}
code {
  font-weight: 700;
}
code::before {
  content: "`";
}
code::after {
  content: "`";
}
pre> code {
  font-weight: 400;
}
pre > code::before {
  content: none;
}
pre > code::after {
  content: none;
}
pre[class*="language-"], code[class*="language-"] {
  background-color: var(--darkgray);
  font-size: .95em;
  line-height: 1.2;
}
.token.important,.token.regex,.token.tag {
  color: #ffffff;
}
.token.punctuation {
  color: #dfdfdf;
}
.token.selector {
  color: #d8dada;
}
.token.property {
  color: #acb7ba;
}
.token.string {
  color: #d3d8da;
}
.token.comment {
  color: #aeafaf;
}
/* Header */
.home a {
  color: var(--dark);
  font-size: 1.2em;
}
.home a:hover {
  text-decoration: none;
}
/* Nav */
.nav {
  float: right;
}
.nav-item {
  display: inline-block;
  padding-left: .6em;
}
.nav-item a {
  color: var(--dark);
  border-bottom: 1px solid var(--dark);
}
.nav-item a:hover {
  border-bottom: none;
}
.nav-item-active a {
  color: var(--dark);
  font-weight: 700;
  border-bottom: none;
}
.nav-item-active a:hover {
  text-decoration: none;
}
/* Posts list */
.postlist {
  padding-left: 0;
  white-space: nowrap;
  font-weight: 500;
}
li.postlist-item {
  display: flex;
  align-items: baseline;
  justify-content:space-between;
  line-height: 1.9;
  border-bottom: 1px dotted var(--dark);
  padding: .2em 0 .1em;
}
.postlist a {
  max-width: 45%;
  border-bottom: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 700;
}
.postlist-date {
  color: var(--lightgray);
  font-size: .85em;
  word-spacing: -.05em;
}
.about-description {
  margin-bottom: 2.2em;
}
/* Tags */
.post-tag::before {
  content: "#";
  color: var(--lightgray);
}
a.post-tag {
  margin-right: .5em;
}

/* Post */
.post__title {
  margin-bottom: .25em;
}
.post__meta a {
  font-size: .95em;
  color: var(--lightgray);
  padding-left: .5em;
  border-bottom: none;
}
iframe, video {
  width: 100%;
  border: none;
}
.end-post {
  overflow: visible; /* For IE */
  margin-top: 2.5em;
  margin-bottom: 0;
  padding: 0;
  border: none;
  border-top: medium double var(--lightgray);
  text-align: center;
}
.end-post:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: var(--white);
  color: var(--dark);
}
ul.nextprev-post {
  margin-top: 0;
  padding-left: .9em;
  font-weight: 700;
  color: var(--dark);
}
.nextprev-post a {
  font-weight: 500;
  border-bottom: 1px dotted var(--dark);
}

/* Footer */
footer {
  color: var(--gray);
  padding: 6em 2em .5em;
  font-size: .9em;
  text-align: center;
}
footer p {
  margin-bottom: 0;
}
footer a[href] {
  color: inherit;
  border-bottom: none;
}
ol li::marker {
  font-weight: bold;
}