/* Colors*/
:root {
  --lightgray: #a2a9b0;
  --gray: #4d5358;
  --darkgray: #21272a;
  --dark: #121619;
  --white: #ffffff;
}
/* Global stylesheet */
* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: optional;
  src: url('/fonts/inter.woff2') format('woff2');
}
html, body {
  min-height: 100vh;
  margin: 0 auto;
}
body {
  display: flex;
  flex-direction: column;
  padding: 5vh clamp(1rem, 5vw, 3rem) 1rem;
  font-family: Inter, sans-serif;
  font-size: clamp(1rem, 0.346vw + 0.91rem, 1.188rem);
  line-height: 1.618;
  background-color: var(--white);
  color: var(--darkgray);
  overflow-y: scroll;
  text-rendering: optimizeSpeed;
  -webkit-text-size-adjust: 100%;
}
body > * {
  --layout-spacing: max(8vh, 2rem);
  --max-width: 63ch;
  width: min(100%, var(--max-width));
  margin-left: auto;
  margin-right: auto;
}
h1, h2, h3 {
  color: var(--dark);
  font-weight: 650;
}
h1 {
  letter-spacing: -0.022em;
  line-height: 1.1;
}
h2 {
  letter-spacing: -0.019em;
  line-height: 1.2;
}
h3 {
  letter-spacing: -0.017em;
  line-height: 1.3;
}
strong, b {
  color: var(--dark);
}
p:last-child {
  margin-bottom: 0;
}
img {
  display: block;
  width: 100%;
  min-height: 20rem;
  max-height: 40vh;
  object-fit: cover;
  margin: 2rem auto;
}
@supports (aspect-ratio: 1) {
  article img {
    max-height: unset;
    aspect-ratio: 3/2;
  }
}
a {
  color: var(--dark);
  text-decoration: none;
  border-bottom: 1px solid var(--dark);
}
a:visited {
  color: var(--gray);
}
a:hover {
  color: var(--lightgray);
}
a:focus {
  outline: 1px solid currentColor;
  outline-offset: 0.2em;
}
::selection {
  background-color: var(--darkgray);
  color: var(--white);
}
ol li::marker {
  font-weight: 700;
}
blockquote {
  font-weight: 300;
  color: #6b737a;
  border-left: 0.25em solid #b6b6b6;
  margin-top: 1.6em;
  margin-left: .5em;
  margin-bottom: 1.6em;
  padding-left: 1em;
}
blockquote > cite,
blockquote > p > cite {
  display: block;
  line-height: 1.3em;
  font-style: normal;
  margin-top: 1em;
}
blockquote > cite,
blockquote > p > cite::before {
  content: '--';
}
main {
  padding: 2em 0 1em;
}
header:after {
  content: "";
  display: table;
  clear: both;
}
table {
  margin: 1em 0;
}
table td, table th {
  padding-right: 1em;
}
pre, code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  line-height: 1.5;
}
pre:not([class*="language-"]) {
  direction: ltr;
  text-align: left;
  overflow: auto;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1.5em;
  margin: .5em 0;
  border-radius: .5em;
  background-color: inherit;
  border: 1px solid #dddddd;
}
code::before {
  content: "`";
}
code::after {
  content: "`";
}
pre > code::before {
  content: '';
}
pre > code::after {
  content: '';
}
/* Header */
.home {
  float: left;
  font-size-adjust: 0.62;
  font-weight: 500;
  margin-top: auto;
}
.home a {
  color: var(--dark);
}
.home a:hover {
  text-decoration: none;
}
.home a:focus {
  outline: none;
}
/* Nav */
.nav {
  float: right;
  margin-top: auto;
  text-align: right;
}
.nav-item {
  padding-bottom: .4em;
}
.nav-item a {
  color: var(--dark);
}
.nav-item a:hover {
  border-bottom: none;
}
.nav-item-active a {
  color: var(--lightgray);
  border-bottom: none;
}
.nav-item-active a:hover {
  text-decoration: none;
}
li.nav-item-active {
  color: var(--lightgray);
}
/* Posts list */
.postlist {
  padding-left: 0;
  white-space: nowrap;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
li.postlist-item {
  display: flex;
  align-items: baseline;
  justify-content:space-between;
  border-bottom: 1px dotted var(--dark);
  line-height: 2.2em;
}
.postlist a {
  max-width: 45%;
  border-bottom: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 700;
}
.postlist a:focus {
  outline: none;
}
.postlist-date {
  color: var(--lightgray);
  font-size: .85em;
  word-spacing: -.05em;
}
/* Homepage */
.home-index {
  padding-bottom: 1em;
}
.tmpl-home h2 {
  margin-bottom: 0;
}
/* Tags */
.post-tag::before {
  content: "#";
  color: var(--lightgray);
}
a.post-tag {
  margin-right: .5em;
}
/* Post */
h1.post__title {
  font-size: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  margin-bottom: 0.1em;
}
.post__meta a {
  font-size: .9em;
  color: var(--lightgray);
  padding-left: .5em;
  border-bottom: none;
}
iframe, video {
  width: 100%;
  border: none;
}
.end-post-hr {
  overflow: visible; /* For IE */
  margin-top: 1.8em;
  margin-bottom: 0;
  border: none;
  border-top: .2em solid #c6c6c6;
  text-align: center;
  width: 3em
}
ul.next-prev {
  color: var(--dark);
  font-weight: 700;
  margin-top: 2em;
  padding-left: .9em;
}
.next-prev a {
  border-bottom: 1px dotted;
  font-weight: 500;
}
/* Footer */
body > footer {
  margin-top: auto;
  padding-top: var(--layout-spacing);
}
body > footer div {
  padding-top: .5em;
  font-size: .895em;
  color: #767676;
  text-align: center;
}
footer p {
  margin: 0;
}
footer a[href] {
  color: inherit;
  border-bottom: 0;
}