pre[class*="language-"],
code[class*="language-"] {
  color: black;
  font-size: .964em;
  text-shadow: none;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
@media print {
  pre[class*="language-"],
  code[class*="language-"] {
    text-shadow: none;
  }
}
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  background: #f6f6f6;
  border-radius: .5em;
}
:not(pre) > code[class*="language-"] {
  padding: .1em .3em;
  border-radius: .5em;
}
/*********************************************************
* Tokens
*/
.namespace {
  opacity: .7;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata,
.token.deleted {
  color: #a6a6a6;
}
.token.url,
.token.entity,
.token.property,
.token.regex,
.token.number,
.token.boolean,
.token.constant,
.token.symbol,
.token.variable,
.token.title.important,
.token.list.punctuation,
.token.attr-value,
.token.string,
.token.char,
.token.inserted {
  color: #808080;
}
.token.rule,
.token.tag,
.token.selector,
.token.keyword,
.token.important,
.token.bold,
.token.operator {
  font-weight: 700;
}
.token.attr-value,
.token.attr-name,
.token.code.keyword {
  font-weight: 400;
}
.token.italic {
  font-style: italic;
}
