---
layout: layouts/home.njk
---
<h1>/blog</h1>
  <p><strong>tl;dr :</strong> this is another online virtual-stack to dump <a href="/about/">my</a> thoughts and notes to self on just about anything. Hence the entry’s idea and frequency most likely random and inconsistent.</p>
{% set maxPosts = collections.posts.length | min(3) %}
  <h2>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h2>
{%- set postslist = collections.posts | head(-3) %}
{%- set postslistCounter = collections.posts | length %}
{% include "postslist.njk" -%}
  <p>More posts can be found in <a href="/posts/">the archive</a>.</p>
