---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
  {% set absoluteUrl = metadata.url ~ page.url %}
  <url>
    <loc>{{ absoluteUrl }}</loc>
    {% set lastmod = page.data.updated | toDate if page.data.updated else page.date %}{% if lastmod %}<lastmod>{{ lastmod | htmlDateString }}</lastmod>{% endif %}
  </url>
{%- endfor %}
</urlset>
