---
layout: layouts/home.njk
title: Posts
---
<h1 class="page-title">Posts</h1>
<p class="page-description">Thoughts, notes, and ramblings.</p>
{% set postslist = collections.posts | reverse %}
{% include "partials/postslist.njk" %}
