---
layout: layouts/home.njk
---
<p class="page-description"><span class="page-decor">&#8251;</span> Thoughts, notes, and ramblings.</p>
{% set postslist = collections.posts | reverse %}
{% include "partials/postslist.njk" %}
