---
layout: layouts/home.njk
permalink: /posts/
---
<h1 class="page-title">Posts</h1>
<p class="page-description"><span class="page-decor">/</span>thoughts, notes, and ramblings</p>
{% set postslist = collections.posts | reverse %}
{% include "partials/postslist.njk" %}
