/* * New diff- syntax */
pre[class*="language-diff-"] {
  --eleventy-code-padding: 1.25em;
  padding-left: var(--eleventy-code-padding);
  padding-right: var(--eleventy-code-padding);
}
.highlight-line-active {
  background-color: #f4f4f4;
  border-radius: .1em;
}
.token.deleted, .token.inserted {
  color: white;
}
/* Make the + and - characters unselectable for copy/paste */
.token.prefix.inserted, .token.prefix.deleted {
  -webkit-user-select: none;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--eleventy-code-padding);
}
.token.prefix.inserted {
  background-color: green;
}
.token.prefix.deleted {
  background-color:darkred;
}
/* Optional: full-width background color */
.token.inserted:not(.prefix), .token.deleted:not(.prefix) {
  display: block;
  margin-left: calc(-1 * var(--eleventy-code-padding));
  margin-right: calc(-1 * var(--eleventy-code-padding));
  text-decoration: none;
 /* override del, ins, mark defaults */
  color: inherit;
 /* override del, ins, mark defaults */
}
