<footer class="site-footer">
  <p>&copy; {% year %} {{ metadata.author.name }}. Powered by <a href="https://www.11ty.dev/">Eleventy</a> &amp; <a href="https://pages.github.com/">GitHub Pages</a>.</p>
</footer>
