<div class="notice-redesign">
  <p><span class="comment-char">#</span> note:</p>
  <p><span class="comment-char">#</span> This post describes the previous blog design.</p>
  <p><span class="comment-char">#</span> The site has since been redesigned with a</p>
  <p><span class="comment-char">#</span> terminal theme, JetBrains Mono, and an amber</p>
  <p><span class="comment-char">#</span> accent palette.</p>
</div>