<aside>
<div class="author-info">
  <div class="author-info--box">
    <div class="author-info--initial">S</div>
    <span class="author-info--site__title">{{ metadata.title }}</span>
  </div>
  <p class="author-info--text">Talks about poetry, web, personal thoughts, gardening and almost whatever.</p>
</div>
</aside>
