<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="{{ eleventy.generator }}">
    <title>{% if title %}{% if titleOverride %}{{ titleOverride }}{% else %}{% if renderData.title %}{{ renderData.title }}{% else %}{{ title }}{% endif %}{% endif %} ‑ Sulistiono{% else %}Sulistiono{% endif %}</title>
    <meta name="author" content="{{ metadata.author.name }}">
    <meta name="description" content="{% if description %}{{ description }} — {% endif %}{% if title %}A post by {{ metadata.author.name }}{% elif metadata.url %}{{ metadata.description }}{% endif %}">
    <link rel="canonical" href={{ metadata.url }}{{ page.url }}>
    <link rel="preconnect" href="/" crossorigin>
    <link rel="preload" href="/fonts/IBMPlexSans-Var.woff2" as="font" type="font/woff2" crossorigin>
    <meta name="theme-color" content="#ffffff">
		{%- css %}{% include "assets/css/index.css" %}{% endcss %}
	<style>
	 {% getBundle "css" %}
	</style>
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <!-- Open graph -->
    <meta property="og:url" content="{{ metadata.url }}{{ page.url }}">
    <meta property="og:title" content="{{ title or metadata.title }}">
    <meta property="og:description" content="{% if description %}{{ description }} — {% endif %}{% if title %}A post by {{ metadata.author.name }}{% elif metadata.url %}{{ metadata.description }}{% endif %}">
    <meta property="og:type" content="{% if page.url != '/' %}article{% else %}website{% endif %}">
    <!-- Twitter -->
    <meta name="twitter:title" content="{{ title or metadata.title }}">
    <meta name="twitter:description" content="{% if description %}{{ description }} — {% endif %}{% if title %}A post by {{ metadata.author.name }}{% elif metadata.url %}{{ metadata.description }}{% endif %}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ metadata.author.twitter.handle }}">
    <meta name="twitter:creator" content="{{ metadata.author.twitter.handle }}">
	  <!-- favicons -->
    <link rel="icon" href="/favicon.ico" size="any">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.json" />
    {% if ignore %}
      <meta name="robots" content="noindex"/>
    {% endif -%}
  </head>

  <body>
    <a href="#skip" class="visually-hidden">Skip to main content</a>
    <header>
      <aside class="logo">
      {% if page.url == '/' %}
		    {% set prompt = "About the Author" %}
		    {% set link = '/about' %}
	    {% else %}
		    {% set link = '/' %}
		    {% set prompt = "Back to Index" %}
	    {% endif %}
      <a href="{{ link }}">
        <img src="/img/s-logo.svg" alt="Home" width="256" height="256" class="s-logo"></a>
        <span class="logo-prompt">{{ prompt }}</span>
      </aside>
    </header>
    <main id="skip"{%- if templateClass %} class="{{ templateClass }}"{% endif -%}>
      {{ content | safe }}
    </main>
    {% include "footer.njk" %}

    <!-- Current page: {{ page.url | url }} -->
  <script>
  if ('serviceWorker' in navigator) {
  window.addEventListener('load', () => {
    navigator.serviceWorker.register('/sw.js')
      .then(() => console.log('Service worker is registered!'))
      .catch(() => console.error('Service worker registration failed'));
    });
  }
  </script>
  </body>
</html>
