---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1 class="title">{{ title }}</h1>
<div class="post-metadata"><time class="postlist-date" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
{%- for tag in tags | filterTagList -%}
{%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
<a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{%- endfor %}
</div>
<hr class="devider">
{{ content | safe }}
{%- if collections.posts %}
{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{%- if nextPost or previousPost %}
<div class="links-nextprev">
	{%- if nextPost %}<a class="next" href="{{ nextPost.url }}" title="Next Post"> &lt;&lt</a><span> &middot; </span>{% endif %}
	<a class="post-index" href="{{ '/posts/' | url }}" title="Post-Index">Index</a>
	{%- if previousPost %}<span> &middot; </span><a class="prev" href="{{ previousPost.url }}" title="Previous Post"> &gt;&gt;</a>{% endif %}
</div>
{%- endif %}
{%- endif %}



